.Home{

    &__Banner{
        background-image: url('../../../../assets/images/background.png');
        background-position: center;
        background-repeat: no-repeat;

        position: relative;
        img{
            width: 100%;
        }
    }

}