.Home{

    &__Banner{
        background-image: url('../../../assets/images/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: relative;
        img{
            width: 100%;
        }
    }

}